@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="jumbotron">
        <h1 class="display-4">Welcome @ViewData["name"] to Our Hospital</h1>
        <p class="lead">We provide the best medical services in the region.</p>
        <hr class="my-4">
       
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Our Services</h2>
            <p>We offer a wide range of medical services to meet your needs.</p>
            
        </div>
        <div class="col-md-4">
            <h2>Our Doctors</h2>
            <p>Our team of experienced doctors are here to provide the best care.</p>
          
        </div>
        <div class="col-md-4">
            <h2>Contact Us</h2>
            <p>Have questions? Get in touch with us.</p>
           
        </div>
    </div>

    

</main>