
@{
    ViewBag.Title = "ShowContact";
}

<h2>ShowContact</h2>
<h3> Id is:@Session["id"]</h3>
<h3> name is:@Session["name"]</h3>
<h3> email is:@Session["email"]</h3>
<h3> the gender is:@Session["gender"]</h3>
<h3> the courses :@Session["courses"]</h3>

