
@{
    ViewBag.Title = "doctors";
    var dNames = new List<string> { "Duha", "luna", " Ayla" };


}





<div class="container">
    <h1 class="my-4">Meet Our Doctors</h1>
    <div class="row">
        @foreach (var item in dNames)
        {
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-100">

                    <div class="card-body">
                        <h4 class="card-title">@item</h4>

                    </div>
                </div>
            </div>
        }
    </div>
</div>
